{% load static %}
<html>
    <head>
        <title>BLUESTONE JEWELLERY</title>
        <link rel="icon" href="{% static 'bs_logo.png' %}">
        <link rel="stylesheet" href="{% static 'design.css' %}">
        <style>
            p{
                text-align: justify;
                padding-top: 15px;
                padding-left: 50px;
                padding-right: 50px;
                line-height: 37px;
                font-size: 25px;
            }
            img{
                width: 40%;
            }
        </style>
    </head> 
    <body style="background-color:#0b0829;color: rgb(238, 241, 245);">
        <h1>BlueStone Jewellery</h1>
        <img src="{% static 'BlueStone.jpg' %}" style="height: 50%;">
        <p>
            BlueStone Jewellery is a design-led, omnichannel fine jewellery brand that has been a leading destination for high-quality, 
            certified jewellery since its founding in 2011. It operates a successful model that integrates its extensive 
            online platform, featuring over 7,000 unique designs across gold, diamond, and gemstone categories. A core part of their customer-centric approach is the innovative 'Try At Home' service, 
            which allows shoppers to experience their curated pieces before making a purchase, effectively building trust in the online buying 
            of high-value items. With a strong focus on transparency, customization, and authenticity, every piece is certified by trusted institutions, 
            and the brand supports its offerings with a 30-day money-back guarantee and a lifetime exchange policy.
        </p>
    </body>
</html>