{% load static %}
<html>
    <head>
        <title>MANYAVAR</title>
        <link rel="icon" href="{% static 'manyavar_logo.webp' %}">
        <link rel="stylesheet" href="{% static 'design.css' %}">
        <style>
            p{
                text-align: justify;
                font-size: 24px;
                line-height: 32px;
                padding-top: 15px;
                padding-left: 50px;
                padding-right: 50px;
            }
        </style>
    </head> 
    <body style="background-color: bisque;color: #361f1b;">
        <h1>Manyavar</h1>
        <img src="{% static 'Manyavar.jpg' %}" style="height:50%;">
        <p>
            Manyavar is a prominent and leading Indian celebration wear brand established in 1999 by Ravi Modi as part of Vedant Fashions Limited. 
            The brand has cemented its position as a one-stop destination for traditional and ethnic attire for men, women, and children, 
            specifically focusing on grand wedding and festive occasions. The main men's collection features a wide range of elegant outfits, 
            including Sherwanis, Kurta-Jackets, Indo-Westerns, and Bandhgalas. To cater to its diverse audience, Manyavar also operates its 
            complementary brand, Mohey, which specializes in women's ethnic wear such as Lehengas, Sarees, and Gowns. Driven by the mission to 
            "Instill pride in wearing Indian attire", Manyavar successfully
             merges traditional designs with contemporary style, maintaining 
            a 'vast retail network' both within India and internationally in several key global markets. The company maintains a strong focus 
            on 'quality craftsmanship' and proudly supports the "Made in India" movement.
        </p>
    </body>
</html>