{% load static %}
<html>
    <head>
        <title>McDONALD'S</title>
        <link rel="icon" href="{% static 'McD_logo.png' %}">
        <link rel="stylesheet" href="{% static 'design.css' %}">
        <style>
            p{
                text-align: justify;
                padding-top: 10px;
                padding-left: 50px;
                padding-right: 50px;
                line-height: 35px;
                font-size: 24px;
            }
        </style>
    </head> 
    <body style="background-color: #9a0002; color: #fdc825;">
        <h1>McDonald's</h1>
        <img src="{% static 'McD.jpg' %}" style="height:50%;">
        <p>
            McDonald's Corporation is a global behemoth in the quick-service restaurant (QSR) industry, founded by the brothers Richard and Maurice McDonald in 1940 and later industrialized into 
            a massive franchise system by businessman Ray Kroc in the 1950s. The company's success is built upon its "Speedee Service System," emphasizing fast, affordable, and consistently high-quality 
            food, which primarily features its iconic hamburgers, world-famous French fries, and shakes. Its a vast network of franchisees, from whom it collects royalties and rent. McDonald's is constantly 
            innovating its menu with items like the McNuggets, and McCafé coffee line, while also adapting to local tastes and dietary trends globally with customized offerings. Through its core commitment 
            to convenience, value, and consistency, McDonald's continues to be one of the most powerful and recognizable brands in the world.
        </p>
    </body>
</html>