{% load static %}
<html>
    <head>
        <title>TIMEZONE</title>
        <link rel="icon" href="{% static 'timezone_logo.png' %}">
        <link rel="stylesheet" href="{% static 'design.css' %}">
        <style>
            p{
                text-align: justify;
                padding-top: 15px;
                padding-left: 50px;
                padding-right: 50px;
                line-height: 32px;
                font-size: 25px;
            }
            img
            {
                height:50%;
                width:36%;
            }

        </style>
    </head> 
    <body style="background-color: #2d1f44; color: whitesmoke;">
        <h1>TimeZone</h1>
        <img src="{% static 'Timezone.jpg' %}">
        <p>
            Timezone is an international chain of Family Entertainment Centres (FECs) and amusement arcades, first established in Perth, Australia, in 1978. 
            It is designed to offer a vibrant, welcoming, and high-energy environment for 
            family fun. The centres feature a vast collection of games, ranging from classic and modern arcade machines to major attractions like bowling, 
            bumper cars, virtual reality (VR) experiences such as Virtual Rabbids, and laser spy challenges. Rather than 
            using coins, the entire experience is centered around the Timezone Powercard, a magnetic swipe card that guests load with credits for game play 
            and accumulate "Powertickets" to redeem for prizes at a dedicated prize shop. With an expanding presence across various countries, including 
            a large and active network throughout India, Timezone is promoted as a one-stop venue for gaming, parties, and social fun.
        </p>
    </body>
</html>